DISCORD_TOKEN=your_discord_token
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
REDIRECT_URI=http://127.0.0.1:8888/callback
PORT=8888
DETAILS_PREFIX=♪
DETAILS_PREFIX_NO_LYRICS=Söz Yok
STATE_FORMAT={name} — {artist}
BUTTON_1_LABEL=Şarkıyı Aç
BUTTON_2_LABEL=Çok Konuşuyon
BUTTON_2_URL=https://github.com/blackeker
UPDATE_INTERVAL=1000
LYRICS_TIMEOUT=10000
LYRICS_API_URL=https://www.yusufkaymaz.com.tr/api/lyrics
LYRICS_UPDATE_INTERVAL=200
AUTO_DELETE_FILES=true
